.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.App-loading {
  animation: App-loading-spin infinite 1s linear;
  height: 50px;
  width: 50px;
  border: 5px solid lightgray;
  border-top-color: darkgray;
  border-radius: 50px;
}

.App-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
}

.App-list-champion {
  background-color: bisque;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  text-decoration: none;
  cursor: pointer;
  color: darkgray;
}

@keyframes App-loading-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
